body {
  margin: 100px;
  font-family: 'Merriweather', serif;
  background-color: #EEEEEE;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  color: #00ADB5;
}

h3 {
  color: #00ADB5;
}

.first li {
  list-style-type: circle;
}

.second li {
  list-style-type: square;
}